---
import ServicesList from "./ServicesList.astro"
---

<section class="mt-28 px-10">
	<div class="mb-10 px-2 md:px-20">
		<h2 class="heading">Servicios</h2>
		<p class="subheading">
			Ofrezco desarrollo web front-end personalizado, enfocado en usabilidad y <span
				class="font-bold text-orange-400">diseño responsivo.</span
			>
		</p>
	</div>
	<ServicesList />
</section>
